# Compiled class file
*.class

#binary object files from app
*.bin

#vim swap files
.*swp

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# VSCode settings
.vscode/

# Package Files #
*.jar
*.war
*.nar
*.shar
*.ear
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

#Mac OS x Trash
.DS_Store
